/* src/index.css 맨 위에 추가! */
@font-face {
  font-family: 'CustomGameFont';
  src: url('/gamefont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤바 방지 */
}

#root {
  width: 100%;
  height: 100%;
}